.star-field {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.star-field__text {
  color: #4ff0b7;
  margin: 0;
  font-family:
    JetBrains Mono,
    monospace;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
  display: inline-block;
  text-align: center;
}
