.chat-box {
  color: #f5f5f5;
  width: 85vw;
  height: 90vh;
}

.chat-box__input-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 8rem;
}

.chat-box__input {
  resize: none;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0.5rem 1rem 1rem;
  outline: none;
  transition: 0.3s ease-in-out;
  padding: 0.5rem;
  font-size: 1rem;
}

.chat-box__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.chat-box__input,
.chat-box__submit {
  min-height: 1rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.625rem;
  color: #f5f5f5;
}

.chat-box__input:hover,
.chat-box__input:focus,
.chat-box__submit:hover,
.chat-box__submit:focus {
  background: linear-gradient(135deg, #321446, #0a0a28, #0f0f46, #162447);
}

.chat-box__submit {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem 1rem 0.5rem;
}

.chat-box__submit-icon {
  display: block;
  font-size: 1.4rem;
  transform: rotate(-45deg);
}

.glass-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(0.625rem);
  -webkit-backdrop-filter: blur(0.625rem);
  box-shadow: 0 0.625rem 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Segoe UI', sans-serif;
}
