.chat-box {
  color: var(--light-text);
  width: 85vw;
  height: 90vh;
  padding-top: 1rem;
}

.chat-box__input-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 8rem;
  padding: 1rem;
}

.chat-box__input {
  resize: none;
  width: 100%;
  padding: 1rem;
  outline: none;
  transition: 0.3s ease-in-out;
  padding: 0.5rem;
  font-size: 1rem;
}

.chat-box__input::placeholder {
  color: var(--white-50);
  font-style: italic;
}

.chat-box__input,
.chat-box__submit {
  min-height: 1rem;
  background-color: transparent;
  border: 2px solid var(--light-gray-10);
  border-radius: 0.625rem;
  color: var(--light-text);
}

.chat-box__input:hover,
.chat-box__input:focus,
.chat-box__submit:hover,
.chat-box__submit:focus {
  background: linear-gradient(135deg, #321446, #0a0a28, #0f0f46, #162447);
}

.chat-box__submit:disabled,
.chat-box__submit:disabled:hover {
  background: var(--light-gray-10);
  background-color: var(--light-gray-10);
  color: var(--light-gray-10);
  cursor: not-allowed;
}

.chat-box__submit {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.chat-box__submit-icon {
  display: block;
  font-size: 1.4rem;
  transform: rotate(-45deg);
}

.glass-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-05);
  border-radius: 20px;
  backdrop-filter: blur(0.625rem);
  -webkit-backdrop-filter: blur(0.625rem);
  box-shadow: 0 0.625rem 30px var(--black-20);
  border: 1px solid var(--white-30);
  font-family: 'Segoe UI', sans-serif;
}
