.chat-box {
  color: #f5f5f5;
  width: 85vw;
  height: 70vh;
  overflow: scroll;
}

.chat-box__input-container {
  position: fixed;
  bottom: 2rem;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.chat-box__input {
  width: 250px;
  padding: 12px;
  font-size: 1rem;
  outline: none;
  transition: 0.3s ease-in-out;
  padding: 0.5rem;
}

.chat-box__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}

.chat-box__input,
.chat-box__submit {
  min-height: 1rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: #f5f5f5;
}

.chat-box__input:hover,
.chat-box__input:focus,
.chat-box__submit:hover,
.chat-box__submit:focus {
  background: linear-gradient(135deg, #321446, #0a0a28, #0f0f46, #162447);
}

.chat-box__submit {
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.glass-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
}
